.card{
  margin: auto;
  align-content: center;
  text-align: center;
  background-color: rgb(232, 188, 249);
}

button{
  background-color: black;
  color: white;
  border-radius: 20px;
}

.alert{
  margin: 20px;
  padding: 10px;
  border: 30px;
  text-align: center;

}
